---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro'
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="grid-container">
			<div class="left-side">
				<Card />
			</div>
			<div class="right-side ">
				<h1 class="text-7xl px-3">Front-end Developer</h1>
				<h2 class="text-2xl px-3">Estoy para solucionar tus problemas</h2>
				<p class="py-2 px-3">Aca ira algo mas pero nose que todavia</p>
			</div>
		</div>
	</main>
</Layout>

<style>

	h2{
		color: #82005d;
	}
	.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
	}

	
	/* Estilos para pantallas pequeñas */
	@media (max-width: 768px) {
	.grid-container {
		grid-template-columns: 1fr;
	}
	
	.left-side {
		order: 2;
	}
	
	.right-side {
		order: 1;
	}}
</style>
