---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro'
import Titles from '../components/Titles.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="grid-container">
			<div class="flex md:justify-end left-side">
				<Card />
			</div>
			<div class="right-side">
				<Titles />
			</div>
		</div>
	</main>
</Layout>

<style>
	
	.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Dos columnas de igual tamaño */
	}

	
	/* Estilos para pantallas pequeñas */
	@media (max-width: 768px) {
	.grid-container {
		grid-template-columns: 1fr;
	}
	
	.left-side {
		order: 2;
	}
	
	.right-side {
		order: 1;
	}}
</style>
