---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro'
import Titles from '../components/Titles.astro';
import Menu from '../components/Menu.astro';
import Rrss from '../components/Rrss.astro';
---

<Layout title="Portfolio Lautaro Rodriguez">
	<main>
		<div class="grid-container">
			<div class="flex flex-col md:items-end left-side">
				<Card />
				<Rrss/>
			</div>
			<div class="right-side-top">
				<Titles />
			</div>
			<div class="right-side-bot">
				<Menu />
			</div>
		</div>
	</main>
</Layout>

<style>
	
	.grid-container {
    	display: grid;
   		grid-template-columns: 1fr 2fr; /* Dos columnas de igual tamaño */
		grid-template-rows: 1fr 2fr;
		align-items: end;

		padding-right: 15%;
	}

	.left-side {
      	grid-column: 1 / 1; /* Ocupa la primera columna */
      	grid-row: 1 / 3;
	}

	.right-side-top,
	.right-side-bot {
		grid-column: 2 / 3; /* Ambas ocupan la segunda columna */
	}

	.right-side-top {
		
		grid-row: 1 / 2;
	}

	.right-side-bot {
		
		grid-row: 2 / 3;
	}

	
	/* Estilos para pantallas pequeñas */
	@media (max-width: 768px) {

		
		.grid-container {
			grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
			grid-template-rows: auto auto auto; /* Tres filas para cada sección */
		}
		
		.left-side,
     	.right-side-top,
      	.right-side-bot {
			grid-column: 1 / 2; /* Todas ocupan la primera columna */
			grid-row: auto; /* Dejar que se ajuste automáticamente */
     	}

		.left-side {
			order: 2;
		}

		.right-side-top {
			order: 1;
		}

		.right-side-bot {
			order: 3;
		}
	}
</style>
