---

---

<aside class="rounded-md md:max-w-min mx-2 my-2"> 
    <img class="md:rounded-t-md" src="https://i.pinimg.com/564x/86/47/8b/86478bf00a769fdb6e8d9772b2d654ad.jpg" alt="Foto de Lautaro Rodriguez">
    <div class="card-text flex px-8">
        <h2 class="text-2xl">Lautaro Rodriguez</h2>
        <h3 class="text-sm">Frontend - Developer</h3>
        <p class="text-sm">En constante aprendizaje en busqueda de solucionar problemas actuales.</p>
    </div>
</aside>

<style>
    aside{ 
        width: 93%;
        background-color: #82005d;
    }

    aside img{     
        width: 23%;
        height: auto;
    }
    .card-text {
        flex-direction: column;
        justify-content: space-evenly
    }

    h2 {
        order: 2;
    }

    h3 {
        font-size: 18px;
        color: #070707;
        order: 1;
    }

    p {
        font-size: 13px;
        order: 3;
    }

    @media (min-width: 768px) {
        aside {
            height: min-content;
            flex-direction: column;
        }

        aside img{     
        width: 100%;
        height: auto;
    }

         h2 {
            padding: 10px 0px 5px 0px;
            order: 1;
        }

        h3 {
            color: #c1abff;
            order: 2;
        }

        p {  
            padding: 5px 0px 5px 0px;
            order: 3;
        }
    }
</style>