---

---

<aside class="rounded-md bg-white max-w-max mx-10 my-5">
   
    <img class="rounded-lg max-w-56 p-5" src="https://i.pinimg.com/564x/86/47/8b/86478bf00a769fdb6e8d9772b2d654ad.jpg" alt="Foto de Lautaro Rodriguez">
    <h2 class="text-xl text-center text-gray-950">Lautaro Rodriguez</h2>
    <p class="text-sm text-center text-gray-950">Frontend Developer</p>
</aside>


<style>
    aside{
        display: flex;
        flex-direction: column;
    }
</style>