---

---

<header class="flex justify-between items-center py-10 mx-auto md:w-1/2">
	<img class="rounded-md w-12 h-12" src="https://64.media.tumblr.com/1e7b4097b9734080c3c8c32897f370c1/ea0aebc5ab4ef9c4-97/s1280x1920/991edd765708d09cb5d124e1037a9705c2ebf232.jpg" alt="Foto de Lautaro Rodriguez">
	<nav class="flex flex-row gap-x-5">
		<a href="/">Home</a>
		<a href="/about">About</a>
		<a href="/blog">Blog</a>
		<a href="/portfolio">Portfolio</a>
	</nav>
</header>


