---

---

<div class="textos right-side">
    <h1 class="text-7xl md:text-8xl px-5">Mi trayectoria</h1>
    <h2 class="text-2xl md:text-5xl px-5">Impacto con Desarrollo Web y Marketing Digital</h2>
    <p class="md:text-2xl py-2 px-5">Combino desarrollo web y marketing digital para crear sitios eficientes.</p>
</div>

<style>
    
    h2{
		color: #82005d;
	}


    
</style>