---
import '@fontsource/russo-one';

const { title } = Astro.props;

import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Descubre mi portafolio de desarrollo web y marketing digital. Especializado en crear sitios web atractivos y estrategias digitales que impulsan la visibilidad de las marcas. Explora mis proyectos y cómo puedo ayudar a tu negocio a destacar online." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>




<style >
	:root {
		color-scheme: light dark;
	}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		overflow-x: hidden;
	}

	
	html {
		background-color: rgb(1, 0, 13);
		font-family: "Russo One";
	}

</style>
